.fx__scanlines::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  opacity: .5;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 50;
}

.fx__scanlines::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0, 0, 0, .03) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.04), rgba(0, 255, 0, 0.04), rgba(0, 0, 255, 0.04));
  z-index: 10010;
  background-size: 100% 3px, 3px 100%;
  pointer-events: none;
}

.fx__background::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgb(50, 50, 50) 50%, rgb(25, 25, 25) 50%);
  z-index: -10;
  background-size: 100% 10px;
  pointer-events: none;
  filter: blur(.15rem);
}

.fx__overlay::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 4rem 4rem rgba(0,0,0,.3) inset;
  z-index: 30;
  pointer-events: none;
}

.fx__overlay::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle, rgba(255,255,255,.1) 0, rgba(0,0,0,.8) 100%);
  z-index: -5;
  pointer-events: none;
}