.fx__scanlines::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, .1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  opacity: .5;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 50;
}

.fx__scanlines::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0, 0, 0, .075) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.04), rgba(0, 0, 255, 0.05));
  z-index: 1000;
  background-size: 100% 3px, 3px 100%;
  pointer-events: none;
}

.fx__background::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(30, 30, 30);
  background-image: url('/images/background.jpg'), linear-gradient(rgb(30, 30, 30) 20%, rgb(15, 15, 15) 80%);
  filter: contrast(.9) brightness(1.1);
}

.fx__overlay::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 10rem 10rem rgba(0,0,0,.3) inset;
  z-index: 30000;
  pointer-events: none;
}

.fx__overlay::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle, rgba(255,255,255,.1) 0, rgba(0,0,0,.8) 100%);
  xbackground: radial-gradient(circle, var(--color-primary-dark-3) 0, var(--color-primary-dark-5) 100%);
  z-index: -5;
  pointer-events: none;
}

.fx__animated-text {
  overflow-x: clip !important; /* avoids clipping text shadow on y axis */
  padding-left: 2rem;
  margin-left: -2rem;
  white-space: nowrap !important;
  display: inline-block;
  width: 0;
  text-shadow: none; /* Added to text when animation starts (avoids clipping) */
  animation: fx__text-typing-animation .5s steps(100, end);
  animation-fill-mode: forwards;
}

[data-fx-order="1"] { animation-delay: .1s !important; }
[data-fx-order="2"] { animation-delay: .2s !important; }
[data-fx-order="3"] { animation-delay: .3s !important; }
[data-fx-order="4"] { animation-delay: .4s !important; }
[data-fx-order="5"] { animation-delay: .5s !important; }
[data-fx-order="6"] { animation-delay: .6s !important; }
[data-fx-order="7"] { animation-delay: .7s !important; }
[data-fx-order="8"] { animation-delay: .8s !important; }
[data-fx-order="9"] { animation-delay: .9s !important; }
[data-fx-order="10"] { animation-delay: .10s !important; }
[data-fx-order="11"] { animation-delay: .11s !important; }
[data-fx-order="12"] { animation-delay: .12s !important; }
[data-fx-order="13"] { animation-delay: .13s !important; }
[data-fx-order="14"] { animation-delay: .14s !important; }
[data-fx-order="15"] { animation-delay: .15s !important; }

@keyframes fx__text-typing-animation {
  from { width: 0; text-shadow: var(--text-shadow); }
  to { width: 100%; text-shadow: var(--text-shadow); }
}

.fx__fade-in {
  animation: fx__fade-in-animation .5s ease-in-out;
}

@keyframes fx__fade-in-animation {
  from { visibility: visible; opacity : 0; }
  to { visibility: visible; opacity: 1; }
}