.clear {
  clear: both;
}

.muted {
  opacity: .75;
}

.transparent {
  opacity: 0;
}

.text-large {
  font-size: 1.2rem;
}

.text-positive {
  color: var(--color-positive);
}

.text-warning {
  color: var(--color-warning);
}

.text-negative {
  color: var(--color-negative);
}

.text-center {
  text-align: center;
}

.flip-vertical {
  transform: rotateY(180deg);
}

.flip-horizontal {
  transform: rotateX(180deg);
}