/* .home__news-article-body {
  position: relative;
  margin-bottom: 1rem;
  padding: 0 .5rem .5rem .5rem;
  background-color: rgba(0,0,0,.5);
  clip-path: polygon(0 0,100% 0,100% calc(100% - 2rem),calc(100% - 2rem) 100%,0 100%);
} */

.home__news-headline-image {
  mask-image: linear-gradient(to bottom,
      transparent,
      black 0rem,
      black calc(100% - 15rem),
      transparent), linear-gradient(black, black);
  mask-size: 100% 100%, 0 100%;
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;
  object-fit: cover;
  width: 100%;
  z-index: 2;
  filter: contrast(.5) grayscale(1);
}

.home__commodity_categories {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.home__commodity_categories li {
  margin: 0;
}

.home__commodity_categories li a {
  display: block;
  margin-bottom: .25rem;
}

.home__commodity_categories li:not(:last-of-type) {
  border-bottom: none;
}

.home__news-article-text p {
  font-size: 1.15rem;
}

.home__news-article-headline {
  clip-path: none;
  display: block;
}

.home h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.home h2 {
  margin-top: 1rem;
}

@media only screen and (min-width: 1280px) {

  .home__sign-in-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20vh 1rem 0 1rem;
    background: linear-gradient(to bottom,
      transparent,
      rgba(75,75,75,1) 5%,
      transparent calc(100% - 10%),
      transparent)
  }

  .home__about {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    padding-top: 1.5rem;
  }

  .home__cmdr {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
  }

  .home__news-feed {
    position: absolute;
    top: 0;
    left: calc(25% + 1rem);
    right: calc(25% + 1rem);
    bottom: 0;
  }

  .home__news-headline-image {
    position: relative;
    mask-image: linear-gradient(to bottom,
        transparent,
        black 0rem,
        black calc(100% - 20rem),
        transparent), linear-gradient(black, black);
    mask-size: 100% 100%, 0 100%;
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
    object-fit: cover;
    height: 100%;
    width: calc(100% - .4rem);
  }

  .home__news-feed-heading {
    margin-bottom: 1rem;
    position: relative;
    top: .5rem;
    left: .5rem;
    z-index: 1;
  }
}

