@import url('variables.css');
@import url('fx.css');
@import url('helpers.css');
@import url('layout.css');
@import url('home.css');
@import url('elements/index.css');

@import url('components/breadcrumbs.css');
@import url('components/data-table.css');
@import url('components/header.css');
@import url('components/loader.css');
@import url('components/loading-bar.css');
@import url('components/menu-grid.css');
@import url('components/news-ticker.css');
@import url('components/properties-table.css');
@import url('components/sidebar.css');
@import url('components/system-map.css');
@import url('components/tabs.css');

@import url('responsive/desktop.css');
@import url('responsive/mobile.css');

@import url("overrides/safari.css");

@font-face {
  font-family: 'Jura';
  src: url('../public/fonts/Jura-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

/* Override generated defaults for terminal font */
i[class^="icarus-terminal-"],
i[class*=" icarus-terminal-"] {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  pointer-events: none;
  font-weight: normal;
  margin: 0 .1rem;
}

html {
  filter: sepia(0.1) contrast(1.25);
}

body,
.scrollable {
  overflow-x: hidden !important;
  font-synthesis: style;
}

@-moz-document url-prefix() {

  /* For Firefox */
  body,
  .scrollable {
    scrollbar-width: auto !important;
    scrollbar-color: auto !important;
  }
}

body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  min-height: 4rem;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-lighter);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-window-scrollbar-thumb);
}

body::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, transparent 41.67%, var(--color-primary-dark) 41.67%, var(--color-primary-dark) 50%, transparent 50%, transparent 91.67%, var(--color-primary-dark) 91.67%, var(--color-primary-dark) 100%);
  background-size: 48.00px 48.00px;
  background-position-x: 10px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, transparent 41.67%, var(--color-window-scrollbar-track) 41.67%, var(--color-window-scrollbar-track) 50%, transparent 50%, transparent 91.67%, var(--color-window-scrollbar-track) 91.67%, var(--color-window-scrollbar-track) 100%);
}

ul li {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.Collapsible {
  white-space: normal;
}

hr {
  border: .1rem solid var(--color-primary-darker);
  margin: 1.5rem 0;
}

.trade-orders__trigger {
  font-size: .9rem;
  position: relative;
  padding-left: 1.5rem
}

.trade-orders__trigger:hover {
  color: var(--color-text-link);
}

.trade-orders__trigger i {
  position: absolute !important;
  top: 0 !important;
  left: 0;
  font-size: .9rem !important;
}

.collapsible__trigger {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 1.2rem;
  display: inline;
}

.collapsible__trigger:hover {
  color: var(--color-text-link);
}

.collapsible__trigger-text {
  border-bottom: 1px dotted var(--color-text-muted);
}

.collapsible__trigger:hover .collapsible__trigger-text {
  border-bottom: 1px dotted var(--color-text-link);
}

.collapsible__trigger-icon {
  position: absolute !important;
  top: .2rem !important;
  left: 0;
  font-size: .8rem !important;
  transition: transform .15s;
}

.collapsible__trigger--open .collapsible__trigger-icon {
  transform: rotate(90deg);
}

.rc-table-cell .collapsible__trigger {
  margin-top: .25rem;
  padding-top: .15rem;
  padding-bottom: .5rem;
  padding-left: 1.4rem;
  display: block;
}

.rc-table-cell .collapsible__trigger .collapsible__trigger-icon {
  left: .2rem;
}

.rc-table-cell .collapsible__trigger--open {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  border: none;
}

.rc-table-cell .collapsible__trigger .collapsible__trigger-icon {
  top: .3rem !important;
}

.rc-table-cell .collapsible__trigger.collapsible__trigger--open .collapsible__trigger-text {
  border-bottom-color: transparent;
}

table.two-column-table>tbody>tr>td,
.two-column-table>.rc-table-container>.rc-table-content>table>tbody>tr>td {
  width: 50%;
}

.commodity__price {
  opacity: 1;
}

.rc-table-placeholder {
  text-transform: uppercase;
  opacity: .8;
  font-size: .9rem;
}

.trade-bracket-icon {
  position: relative;
  top: -.1rem;
  font-size: .9rem !important;
  display: inline-block;
  text-shadow: none;
}

.station-icon {
  position: relative;
  display: inline-block;
  top: -.05rem;
  padding-right: .2rem;
  font-size: 1.25rem !important;
  line-height: 1rem !important;
}

.system__entity-information {
  position: relative;
  top: -.25rem;
  display: inline-block;
  margin-left: 2.75rem;
  padding-left: .25rem;
  border-bottom: .1rem solid var(--color-primary);
}

.system__entity-information::before {
  display: block;
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -.45rem;
  top: 0;
  transform: rotate(45deg);
  border-bottom: .1rem solid var(--color-primary);
}

.counter {
  border-radius: 2rem;
  margin: 0;
  border: .15rem solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
  margin-bottom: .5rem;
  margin-right: .5rem;
  font-size: .9rem;
}

.counter__number {
  background-color: var(--color-text-inverted);
  color: var(--color-primary);
  padding: .25rem .5rem;
  border-radius: 2rem 0 0 2rem;
  width: 6rem;
  display: inline-block;
  text-align: right;
}