@import url('variables.css');
@import url('fx.css');
@import url('html-elements/index.css');
@import url('components/header.css');
@import url('components/tabs.css');
@import url('components/object-information.css');
@import url('components/common/data-table.css');
@import url('components/common/loading-bar.css');

@font-face {
  font-family: 'Jura';
  src: url('../public/fonts/Jura-VariableFont_wght.ttf') format('truetype');
}

/* Override generated defaults for terminal font */
i[class^="icarus-terminal-"],
i[class*=" icarus-terminal-"] {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  pointer-events: none;
  margin: 0 .1rem;
}

.breadcrumb {
  margin-bottom: 0;
  margin-top: .5rem;
}

html,
.scrollable {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 0px;
}

.scrollable {
  scrollbar-width: none;
  overflow-x: hidden !important;
}

@-moz-document url-prefix() {
  /* For Firefox */
  .scrollable {
    scrollbar-width: auto !important;
    scrollbar-color: auto !important;
  }
}

.scrollable::-webkit-scrollbar {
  width: 16px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #eee;
  min-height: 4rem;
}

.scrollable::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, transparent 41.67%, #ccc 41.67%, #ccc 50%, transparent 50%, transparent 91.67%, #ccc 91.67%, #ccc 100%);
  background-size: 48.00px 48.00px;
  background-position-x: 10px;
}