@import url('variables.css');
@import url('fx.css');
@import url('elements/index.css');
@import url('fx.css');
@import url('helpers.css');
@import url('layout.css');
@import url('components/header.css');
@import url('components/tabs.css');
@import url('components/loader.css');
@import url('components/loading-bar.css');
@import url('components/data-table.css');
@import url('components/properties-table.css');
@import url('responsive.css'); /* Load last */

@font-face {
  font-family: 'Jura';
  src: url('../public/fonts/Jura-VariableFont_wght.ttf') format('truetype');
}

/* Override generated defaults for terminal font */
i[class^="icarus-terminal-"],
i[class*=" icarus-terminal-"] {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  pointer-events: none;
  margin: 0 .1rem;
}

body,
.scrollable {
  scrollbar-width: none;
}

body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 0px;
}

body,
.scrollable {
  scrollbar-width: none;
  overflow-x: hidden !important;
}

@-moz-document url-prefix() {
  /* For Firefox */
  body,
  .scrollable {
    scrollbar-width: auto !important;
    scrollbar-color: auto !important;
  }
}

body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  min-height: 4rem;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-lighter);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-window-scrollbar-thumb);
}

body::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, transparent 41.67%, var(--color-primary-dark) 41.67%, var(--color-primary-dark) 50%, transparent 50%, transparent 91.67%, var(--color-primary-dark) 91.67%, var(--color-primary-dark) 100%);
  background-size: 48.00px 48.00px;
  background-position-x: 10px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, transparent 41.67%, var(--color-window-scrollbar-track) 41.67%, var(--color-window-scrollbar-track) 50%, transparent 50%, transparent 91.67%, var(--color-window-scrollbar-track) 91.67%, var(--color-window-scrollbar-track) 100%);
}

.breadcrumb {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Collapsible {
  white-space: normal;
}

.trade-orders__trigger {
  font-size: .9rem;
}

.trade-orders__trigger:hover {
  color: var(--color-text-link);
}

.trade-orders__trigger .icarus-terminal-chevron-right,
.trade-orders__trigger .icarus-terminal-chevron-down {
  margin-right: .15rem !important;
  font-size: .9rem;
}