
@media only screen and (max-width: 768px) {
  h2,
  h3,
  h4 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 1.25rem);
    clip-path: polygon(0 0,calc(100% - 1.5rem) 0,100% 2rem,100% 100%,0 100%);
    padding-left: .25rem;
    padding-right: 1rem;
    left: 0;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .header__logo h1,
  .header__logo p {
    padding-left: 1.5rem;
  }

  .header__logo h1 {
    padding-top: .2rem;
    padding-bottom: .1em;
  }

  .header__logo h1,
  .header__logo h1 em {
    top: 0;
    font-size: 1.8rem !important;
    height: 2rem;
  }

  .is-hidden-mobile {
    display: none !important;
    width: 0;
    padding: 0;
  }

  .max-width-mobile {
    width: 100%;
  }

  table.properties-table > tbody > tr > th,
  table.properties-table > tbody > tr > td {
    text-align: left;
    display: block;
    padding: 0;
    width: 100%;
  }

  table.properties-table > tbody > tr > td {
    padding-bottom: .5rem;
  }

  .react-tabs__tab {
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

@media only screen and (min-width: 768px) {
  .data-table--striped-not-mobile tbody tr:nth-child(odd) td {
    background: rgba(255,255,255,.1) !important;
  }

  .is-visible-mobile {
    display: none !important;
  }
}