
@media only screen and (max-width: 768px) {
  h2,
  h3,
  h4 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - .1rem);
    clip-path: polygon(0 0,calc(100% - 2.00rem) 0,100% 2.00rem,100% 100%,0 100%);
  }

  .is-hidden-mobile {
    display: none;
    width: 0;
    padding: 0;
  }

  .max-width-mobile {
    width: 100%;
  }

  table.properties-table > tbody > tr > th,
  table.properties-table > tbody > tr > td {
    text-align: left;
    display: block;
    padding: 0;
    width: 100%;
  }
  table.properties-table > tbody > tr > td {
    padding-bottom: .25rem;
  }

  .react-tabs__tab {
    padding: 0 .25rem;
  }
}

@media only screen and (min-width: 768px) {
  .data-table--striped-not-mobile tbody tr:nth-child(odd) td {
    background: rgba(255,255,255,.1) !important;
  }

  .is-visible-mobile {
    display: none;
  }
}