:root {
  --color-positive: rgb(173, 255, 135);
  --color-negative: rgb(255, 102, 102);
  --color-warning: rgb(254, 212, 114);
  --color-info: rgb(83, 255, 249);

  --color-text-link: white;
  --color-text: hsl(0, 0%, 90%);
  --color-text-muted: hsla(0, 0%, 90%, .75);
  --color-text-inverted: hsl(0, 0%, 20%);
  --color-text-inverted-muted: hsla(0, 0%, 20%, .75);

  --color-primary-lightest: hsl(0, 0%, 100%);
  --color-primary-lighter: hsl(0, 0%, 95%);
  --color-primary-light: hsl(0, 0%, 90%);
  --color-primary: hsl(0, 0%, 85%);
  --color-primary-dark: hsl(0, 0%, 60%);
  --color-primary-darker: hsl(0, 0%, 40%);
  --color-primary-darkest: hsl(0, 0%, 30%);

  --color-window-scrollbar-thumb: rgba(250, 241, 228);
  --color-window-scrollbar-track: rgba(103, 100, 94);
}