:root {
  --color-positive: rgb(137, 255, 82);
  --color-negative: rgb(255, 26, 26);
  --color-warning: rgb(254, 212, 114);
  --color-info: #53ffce;
  --color-info: rgb(130, 250, 255);

  --color-primary-hue: 22;
  --color-primary-saturation: 0%;
  --color-primary-lightness: 50%;

  --color-primary-0: hsl(var(--color-primary-hue), var(--color-primary-saturation), 0%);
  --color-primary-1: hsl(var(--color-primary-hue), var(--color-primary-saturation), 10%);
  --color-primary-2: hsl(var(--color-primary-hue), var(--color-primary-saturation), 20%);
  --color-primary-3: hsl(var(--color-primary-hue), var(--color-primary-saturation), 30%);
  --color-primary-4: hsl(var(--color-primary-hue), var(--color-primary-saturation), 40%);
  --color-primary-5: hsl(var(--color-primary-hue), var(--color-primary-saturation), 50%);
  --color-primary-6: hsl(var(--color-primary-hue), var(--color-primary-saturation), 60%);
  --color-primary-7: hsl(var(--color-primary-hue), var(--color-primary-saturation), 70%);
  --color-primary-8: hsl(var(--color-primary-hue), var(--color-primary-saturation), 80%);
  --color-primary-9: hsl(var(--color-primary-hue), var(--color-primary-saturation), 90%);
  --color-primary-10: hsl(var(--color-primary-hue), var(--color-primary-saturation), 100%);

  --color-text-link: var(--color-primary-10);
  --color-text: var(--color-primary-10);
  --color-text-muted: hsla(var(--color-primary-hue), var(--color-primary-saturation), calc(var(--color-primary-lightness) + 50%), .75);
  --color-text-dark: var(--color-primary-0);
  --color-text-dark-muted: hsla(var(--color-primary-hue), var(--color-primary-saturation), calc(var(--color-primary-lightness) - 50%), .75);
  --color-text-white: white;
  --color-text-black: black;

  --color-table-heading-text: rgba(255,255,255,.8);
  --color-table-background: transparent;
  --color-table-row: hsla(var(--color-primary-hue), var(--color-primary-saturation), calc(var(--color-primary-lightness) + 10%), .1);
  --color-table-row-alt: hsla(var(--color-primary-hue), var(--color-primary-saturation), calc(var(--color-primary-lightness) + 20%), .15);
  --color-table-row-hover: hsla(var(--color-primary-hue), var(--color-primary-saturation),  calc(var(--color-primary-lightness) + 30%), .25);

  --color-layout-frame: var(--color-primary-9);
  --color-layout-frame-text: var(--color-primary-0);

  --color-window-scrollbar-thumb: rgba(250, 241, 228);
  --color-window-scrollbar-track: rgba(103, 100, 94);

  --color-test: hsl(33, 100%, 50%);
}