@import url('progress.css');
@import url('button.css');

html {
  font-family: sans-serif;
  background-color: #111;
  color: #eee;
  filter: sepia(.2) contrast(1.1);
  /* filter: brightness(.6) sepia(2) hue-rotate(350deg) saturate(2.5) contrast(1.1) brightness(1.4); */
}

html h1,
html h2,
html h3,
html h4,
html h5,
html p,
html li,
html span,
html small,
html big,
html button,
html th,
html td,
html label {
  text-shadow: 0 0 15px rgba(0,0,0,.8), 0 0 15px rgba(255,255,255,.8);
}

a,
* {
  cursor: url('../../public/images/cursor.png'), default;
}

a {
  color: white;
}

a:hover {
  filter: contrast(1.5);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #333;
  font-family: "Jura", sans-serif;
  margin-top: .75rem;
  margin-bottom: 0;
  padding: 0 .25rem;
}

h1:after,
h2:after,
h3:after {
  position: absolute;
  display: inline-block;
  right: -.99rem;
  width: 1rem;
  height: 100%;
  content: '';
  z-index: -1;
  background: #ccc;
}

h1:after {
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

h3:after,
h2:after {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

h1::before,
h2::before,
h3::before {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  left: 0rem;
  content: '';
  z-index: -1;
  background: #ccc;

}

h2 .icon {
  position: relative;
  top: -.15rem;
  font-size: 1.25rem !important;
}

table {
  width: 100%;
}

small {
  text-transform: uppercase;
  opacity: .7; 
}

pre {
  font-size: .9rem;
}