progress {
  --color-progress-background: transparent;
  --color-progress-value: #ccc;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.25rem;
  border-width: .2rem;
  border-style: solid;
  border-radius: 0;
  border-color: var(--color-progress-value);
  background: var(--color-progress-background); /* For Firefox */
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

progress[value]::-webkit-progress-bar {
  background: var(--color-progress-background);
  border-radius: 0;
}

progress[value]::-moz-progress-bar {
  background: var(--color-progress-value);
  border-radius: 0;
}

progress[value]::-webkit-progress-value {
  background: var(--color-progress-value);
  transition: width .25s ease;
  box-shadow: inset 0 0 .1rem var(--color-progress-background), 0 0 .1rem var(--color-progress-value);
  border-radius: .1rem;;
  border-radius: 0;
}

progress.progress--borderless {
  border-style: none;
}