.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: .5rem;
  margin-bottom: .8rem;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  zoom: 1.3;
}

.breadcrumbs li {
  padding: .25rem 0 .25rem 1.5rem;
  position: relative;
  display: inline-block;
  background-color: var(--color-primary-darker);
  text-shadow: 0 0 .5rem rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Jura';
  font-weight: bold;
  pointer-events: all;
  margin: 0;
}

.breadcrumbs li a,
.breadcrumbs li span {
  color: var(--color-text);
  text-decoration: none;
  pointer-events: all;
  border: none !important;
  position: relative;
  left: 0.5rem;
  z-index: 2;
  filter: none !important;
}

.breadcrumbs li .icon {
  line-height: .5rem;
  font-size: 1.1rem;
  position: relative;
  top: -.1rem;
  margin: 0;
  width: 1.25rem;
  display: inline-block;
  left: -.25rem;
  text-shadow: 0 0 .7rem rgb(0, 0, 0, .5);
}

.breadcrumbs li:first-child {
  padding-left: 0;
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
}

.breadcrumbs li:last-child:not(:first-child)  {
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
}

.breadcrumbs li:last-child {
  padding-right: .75rem;
}

.breadcrumbs li:last-child:not(:first-child) a,
.breadcrumbs li:last-child:not(:first-child) span {
  color: var(--color-text-inverted);
}

.breadcrumbs li:not(:first-child):after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  height: 1.75rem;
  width: .75rem;
  left: 0;
  background-color: var(--color-primary-darker);
}

.breadcrumbs li:not(:first-child):before {
  position: absolute;
  content: '';
  display: inline-block;
  top: .15rem;
  height: 1rem;
  width: 1rem;
  left: .1rem;
  transform: rotate(45deg);
  zoom: 1.25;
  background-color: var(--color-primary-darker);
  border-top: .1rem solid rgba(0, 0, 0, .5);
  border-right: .1rem solid rgba(0, 0, 0, .5);
  z-index: 1;
}

.breadcrumbs li:last-child a:after,
.breadcrumbs li:last-child span:after {
  position: absolute;
  content: '';
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  margin-left: -.35rem;
  z-index: -1;
  transform: rotate(45.5deg);
}

.breadcrumbs li:last-child:not(:first-child) a:after,
.breadcrumbs li:last-child:not(:first-child) span:after {
  background-color: var(--color-primary);
}

.breadcrumbs li:last-child:first-child a:after,
.breadcrumbs li:last-child:first-child span:after {
  background-color: var(--color-primary-darker);
}