.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: .8rem;
  margin-bottom: .8rem;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}

.breadcrumbs::after {
  position: absolute;
  content: '';
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  margin-top: .24rem;
  margin-left: -.59rem;
  z-index: -3;
  transform: rotate(45deg);
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
}

.breadcrumbs li {
  padding: .25rem 0 .25rem 1.5rem;
  position: relative;
  display: inline-block;
  background-color: var(--color-primary-darker);
  text-shadow: 0 0 .7rem rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Jura';
  font-weight: bold;
  pointer-events: all;
  margin: 0;
}

.breadcrumbs li a {
  color: var(--color-text);
  text-decoration: none;
  pointer-events: all;
  border: none !important;
  position: relative;
  left: 0.5rem;
  z-index: 1;
}

.breadcrumbs li .icon {
  line-height: .5rem;
  font-size: 1.2rem;
  position: relative;
  top: -0.1rem;
  margin: 0;
  width: 1.5rem;
  display: inline-block;
}

.breadcrumbs li:first-child {
  padding-left: 0;
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
}

.breadcrumbs li:last-child {
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
  padding-right: .75rem;
}

.breadcrumbs li:last-child a {
  color: var(--color-text-inverted);
  opacity: .8;
}

.breadcrumbs li:not(:first-child)::after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  height: 1.75rem;
  width: .75rem;
  left: 0;
  background-color: var(--color-primary-darker);
}

.breadcrumbs li:not(:first-child)::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: .15rem;
  height: 1rem;
  width: 1rem;
  left: .1rem;
  transform: rotate(45deg);
  zoom: 1.25;
  background-color: var(--color-primary-darker);
  border-top: .1rem solid rgba(0, 0, 0, .5);
  border-right: .1rem solid rgba(0, 0, 0, .5);
}