.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: .5rem;
  margin-bottom: .8rem;
  pointer-events: none;
  white-space: nowrap;
  zoom: 1;
  overflow: hidden;
  width: calc(100dvw - 2rem);
}

.breadcrumbs li {
  padding: .2rem .25rem .25rem 0;
  position: relative;
  display: inline-block;
  text-shadow: 0 0 .5rem rgb(0, 0, 0);
  font-family: 'Jura';
  font-weight: bold;
  pointer-events: all;
  margin: 0;
  background: linear-gradient(to left, var(--color-primary-4) 1rem, var(--color-primary-2));
}

.breadcrumbs li > a,
.breadcrumbs li > span {
  color: var(--color-text);
  text-decoration: none;
  pointer-events: all;
  border: none !important;
  position: relative;
  left: .5rem;
  z-index: 2;
  filter: none !important;
  font-size: .9rem;
}

.breadcrumbs > li > a {
  padding-right: 0rem;
  padding-bottom: 0;
}

.breadcrumbs > li > a .icon {
  line-height: .5rem;
  position: relative;
  top: -.05rem;
  margin: 0;
  width: 1.2rem;
  display: inline-block;
  left: -.05rem;
  text-shadow: 0 0 .7rem rgb(0, 0, 0, .5);
  font-size: .85rem;
}

.breadcrumbs li:first-child {
  padding-left: 0;
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
}

.breadcrumbs li:last-child:not(:first-child)  {
  background-color: var(--color-primary-5);
  color: var(--color-text-dark);
}

.breadcrumbs li:last-child {
  padding-right: .75rem;
}

.breadcrumbs li:last-child:not(:first-child) a,
.breadcrumbs li:last-child:not(:first-child) span {
  color: var(--color-text-dark);
}

.breadcrumbs li:not(:first-child):after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  height: 1.75rem;
  width: .75rem;
  left: 0;
  background-color: var(--color-primary-4);
}

.breadcrumbs li:not(:first-child):before {
  position: absolute;
  content: '';
  display: inline-block;
  top: .15rem;
  height: 1rem;
  width: 1rem;
  left: .1rem;
  transform: rotate(45deg);
  zoom: 1.25;
  background-color: var(--color-primary-4);
  border-top: .1rem solid rgba(0, 0, 0, .5);
  border-right: .1rem solid rgba(0, 0, 0, .5);
  z-index: 1;
}

.breadcrumbs li:last-child a:after,
.breadcrumbs li:last-child span:after {
  position: absolute;
  content: '';
  display: inline-block;
  height: 1.35rem;
  width: 1.35rem;
  margin-left: -.4rem;
  z-index: -1;
  transform: rotate(45.5deg);
}

.breadcrumbs li:last-child:not(:first-child) a:after,
.breadcrumbs li:last-child:not(:first-child) span:after {
  background-color: var(--color-primary-5);
}

.breadcrumbs li:last-child:first-child a:after,
.breadcrumbs li:last-child:first-child span:after {
  background-color: var(--color-primary-4);
}