.breadcrumbs {
	list-style: none;
	padding: 0;
	margin: auto;
  float: left;
  margin-top: 1.2rem;
  margin-bottom: .8rem;
  overflow: hidden;
  pointer-events: none;
}

.breadcrumbs::after {
  position: absolute;
	content: '';
	display: inline-block;
	height: 1.2rem;
	width: 1.2rem;
  margin-top: .24rem;
  margin-left: -.59rem;
  z-index: -3;
  transform: rotate(45deg);
  background-color: var(--color-primary-darker);
}

.breadcrumbs li {
	padding: .25rem .25rem .25rem 2.5rem;
	position: relative;
  float: left;
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
  text-shadow: 0 0 .7rem rgba(0,0,0,1);
  text-transform: uppercase;
  font-family: 'Jura';
  font-weight: bold;
}

.breadcrumbs li a {
  color: var(--color-text-inverted);
  text-decoration: none;
  pointer-events: all;
}

.breadcrumbs li:first-child {
  padding-left: .75rem;
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
}

.breadcrumbs li:last-child {
  background-color: var(--color-primary-darker);
  z-index: -2;
  padding-right: .75rem;
}

.breadcrumbs li:last-child a {
  color: var(--color-text);
  opacity: .8;
}

.breadcrumbs li:not(:first-child)::after {
  position: absolute;
	content: '';
	display: inline-block;
  top: 0;
	height: 1.75rem;
	width: .75rem;
  left: 0;
  background-color: var(--color-primary);
}

.breadcrumbs li:not(:first-child)::before {
  position: absolute;
	content: '';
	display: inline-block;
  top: .24rem;
	height: 1.2rem;
	width: 1.2rem;
  left: .15rem;
  transform: rotate(45deg);
  background-color: var(--color-primary);
  box-shadow: .1rem -.1rem .5rem rgba(0,0,0,.3);
}
