.data-table {
  z-index: 3;
  animation: fx__fade-in-animation .5s;
}

.data-table th,
.data-table td {
  white-space: nowrap;
  overflow: hidden;
  padding: .5rem;
}

.data-table .rc-table-row-expand-icon-cell {
  width: 0;
  padding: 0;
}

.data-table table {
  border-spacing: 0;
  width: 100%;
}

.data-table th {
  color: #111;
  background: var(--color-primary);
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
}

.data-table td {
  background: #222;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Don't apply above nowrapping to p tag in cells */
.data-table td p {
  white-space: normal;
}

.data-table tr.rc-table-row td {
  margin-bottom: .5rem;
  border-top: .25rem solid #111;
}

.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) td,
.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) td > *,
.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])):hover td,
.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])):hover td > * {
  background: var(--color-primary) !important;
  color: #111;
  border-bottom: none;
}

.data-table tr.rc-table-row + tr.rc-table-expanded-row > td {
  background: #333 linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
  box-shadow: 0 0 2rem 2rem rgba(0,0,0,.25) inset;
  border-left: .2rem solid var(--color-primary);
  border-right: .2rem solid var(--color-primary);
  border-bottom: .2rem solid var(--color-primary);
  background: rgba(255,255,255,.05) !important;
  padding: .25rem;
}

.data-table th .icon,
.data-table td .icon {
  margin-right: .25rem;
  margin-left: -.25rem;
  float: left;
}

.data-table--mini {
  overflow: auto;
}

table.data-table--mini > tbody > tr > td,
.data-table--mini > .rc-table-container > .rc-table-content > table > tbody > tr > td {
  background: none;
  border: none !important;
  font-size: .9rem;
}

.data-table--compact {
  margin-top: .5rem;
}

table.data-table--compact > tbody > tr > td,
.data-table--compact > .rc-table-container > .rc-table-content > table > tbody > tr > td {
  padding: 0 0 .5rem 0;
  vertical-align: top;
}

.data-table--mini > .rc-table-container > .rc-table-content > table > tbody > tr > td small {
  font-size: .8rem;
}

.data-table__label {
  display: block;
  opacity: .5;
}

table.data-table--striped > tbody > tr:nth-child(odd of .rc-table-row) > td,
.data-table--striped > .rc-table-container > .rc-table-content > table > tbody > tr:nth-child(odd of .rc-table-row) > td {
  background: rgba(0,0,0,.1);
}

table.data-table--striped > tbody > tr:nth-child(even of .rc-table-row) > td,
.data-table--striped > .rc-table-container > .rc-table-content > table > tbody > tr:nth-child(even of .rc-table-row) > td {
  background: rgba(0,0,0,0.3);
}

table.data-table--interactive > tbody > tr.rc-table-row:hover > td,
table.data-table--striped.data-table--interactive > tbody > tr.rc-table-row:hover > td,
.data-table--interactive > .rc-table-container > .rc-table-content > table > tbody > tr.rc-table-row:hover > td,
.data-table--striped.data-table--interactive > .rc-table-container > .rc-table-content > table > tbody > tr.rc-table-row:hover > td {
  background: rgba(255,255,255,.15);
}

table.data-table--border-left,
.data-table--border-left  > .rc-table-container > .rc-table-content > table {
  border-left: .2rem solid var(--color-primary);
}


table.data-table--animated > tbody > tr:not(.rc-table-expanded-row),
.data-table--animated > .rc-table-container > .rc-table-content > table > tbody > tr:not(.rc-table-expanded-row) {
  opacity: 0;
}

table.data-table--animated > tbody > tr:not(.rc-table-expanded-row).--visible,
.data-table--animated > .rc-table-container > .rc-table-content > table > tbody > tr:not(.rc-table-expanded-row).--visible {
  animation: row-flash-in-animation .25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes row-flash-in-animation {
  0% {
    opacity: 0;
    filter: invert(1);
  }
  30% {
    color: var(--color-primary);
    background: var(--color-primary-darker);
  }
  60% {
    background: none;
    filter: invert(0);
  }
  100% { opacity: 1; }
}
