.data-table {
  z-index: 3;
  animation: fx__fade-in-animation .5s;
}

.data-table th,
.data-table td {
  text-wrap: pretty;
  overflow: hidden;
  padding: .5rem;
}

.data-table .rc-table-row-expand-icon-cell {
  width: 0;
  padding: 0;
}

.data-table table {
  border-spacing: 0;
  width: 100%;
}

.data-table--interactive > .rc-table-container > .rc-table-content > table > thead > tr,
.data-table--sticky-heading > .rc-table-container > .rc-table-content > table > thead > tr {
  top: -1rem;
  position: sticky !important;
  z-index: 1;
}

.data-table--interactive > .rc-table-container > .rc-table-content > table > thead > tr > th,
.data-table--sticky-heading > .rc-table-container > .rc-table-content > table > thead > tr > th {
  background: linear-gradient(to bottom, var(--color-primary-dark-4), var(--color-primary-dark-3));
}

.data-table th {
  color: #111;
  color: var(--color-text);
  border-bottom: .15rem solid var(--color-primary-light-3);
  padding-top: .8rem;
  padding-bottom: .8rem;
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  background: transparent;
  background: var(--color-table-background);
  background: linear-gradient(to bottom, transparent, var(--color-primary-dark-3));
}

.data-table td {
  background: #222;
  background: var(--color-table-background);
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Don't apply above nowrapping to p tag in cells */
.data-table td p {
  white-space: normal;
}

.data-table tr.rc-table-row td {
  margin-bottom: .5rem;
  border-top: .25rem solid #111;
}

.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) td,
.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) td > *,
.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])):hover td,
.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])):hover td > * {
  background: var(--color-primary-light-4) !important;
  color: var(--color-primary-dark-5);
  border-bottom: none;
}

.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) td a {
  color: var(--color-text-dark) !important;
}

.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) .counter--table-counter {
  border-color: transparent !important;
}

.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) a:hover {
  background: transparent !important;
}

.data-table tr.rc-table-row + tr.rc-table-expanded-row > td {
  box-shadow: 0 0 2rem 2rem rgba(0,0,0,.25) inset;
  border-left: .2rem solid var(--color-primary-light-4);
  border-right: .2rem solid var(--color-primary-light-4);
  border-bottom: .2rem solid var(--color-primary-light-4);
  background: var(--color-table-background) !important;
  padding: 0 .25rem .25rem .25rem;
}

.data-table th .icon,
.data-table td .icon {
  margin-right: .25rem;
  margin-left: -.25rem;
  float: left;
}

.data-table--mini {
  overflow: auto;
}

table.data-table--mini > tbody > tr > td,
.data-table--mini > .rc-table-container > .rc-table-content > table > tbody > tr > td {
  background: none;
  border: none !important;
  font-size: .9rem;
}

.data-table--compact {
  margin-top: .5rem;
}

table.data-table--compact > tbody > tr > td,
.data-table--compact > .rc-table-container > .rc-table-content > table > tbody > tr > td {
  padding: 0 0 .5rem 0;
  vertical-align: top;
}

.data-table--mini > .rc-table-container > .rc-table-content > table > tbody > tr > td small {
  font-size: .8rem;
}

.data-table__label {
  display: block;
  opacity: .5;
}

table.data-table--striped > tbody > tr:nth-child(odd of .rc-table-row) > td,
.data-table--striped > .rc-table-container > .rc-table-content > table > tbody > tr:nth-child(odd of .rc-table-row) > td {
  background: rgba(255,255,255,.05);
  background: var(--color-table-row);
}

table.data-table--striped > tbody > tr:nth-child(even of .rc-table-row) > td,
.data-table--striped > .rc-table-container > .rc-table-content > table > tbody > tr:nth-child(even of .rc-table-row) > td {
  background: rgba(255,255,255,.1);
  background: var(--color-table-row-alt);
}

table.data-table--interactive > tbody > tr.rc-table-row:hover > td,
table.data-table--striped.data-table--interactive > tbody > tr.rc-table-row:hover > td,
.data-table--interactive > .rc-table-container > .rc-table-content > table > tbody > tr.rc-table-row:hover > td,
.data-table--striped.data-table--interactive > .rc-table-container > .rc-table-content > table > tbody > tr.rc-table-row:hover > td {
  background: rgba(255,255,255,.15);
  background: var(--color-table-row-hover);
}

/*
table.data-table--border-left,
.data-table--border-left  > .rc-table-container > .rc-table-content > table {
  border-left: .2rem solid var(--color-primary-light-4);
}
*/

table.data-table--animated > tbody > tr:not(.rc-table-expanded-row),
.data-table--animated > .rc-table-container > .rc-table-content > table > tbody > tr:not(.rc-table-expanded-row) {
  opacity: 0;
}

table.data-table--animated > tbody > tr:not(.rc-table-expanded-row).data-table__row--visible,
.data-table--animated > .rc-table-container > .rc-table-content > table > tbody > tr:not(.rc-table-expanded-row).data-table__row--visible {
  animation: row-flash-in-animation .25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes row-flash-in-animation {
  0% {
    opacity: 0;
    filter: invert(1);
  }
  30% {
    color: var(--color-primary);
    background: var(--color-primary-dark-2);
  }
  60% {
    background: none;
    filter: invert(0);
  }
  100% { 
    opacity: 1; 
  }
}
