.logo {
  position: relative;
  top: -.5rem;
  left: -1rem;
  display: inline-block;
  white-space: nowrap;
  z-index: 20;
}

.logo h1 {
  display: block;
  color: var(--color-text-inverted);
  margin: 0;
  text-align: right;
  text-shadow: 0 0 1rem rgba(0,0,0,.25);
  padding-left: 2rem;
  padding-bottom: .25rem;
  line-height: 2rem;
  font-weight: 600;
}

.logo h1 em {
  font-size: 2.4rem;
  position: relative;
  top: .1rem;
  font-weight: 900;
}

.logo h1::before,
.logo h1::after {
  background: var(--color-primary);
}

.logo p {
  clear: both;
  position: relative;
  display: inline-block;
  padding: .25rem .25rem .25rem 2rem;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.logo p:after {
  position: absolute;
  display: inline-block;
  right: -.99rem;
  top: -.01rem;
  width: 1rem;
  height: 100%;
  content: '';
  clip-path: polygon(0 0, 0 100%, 100% 0);
  z-index: -2;
}

.logo p,
.logo p:after {
  background: var(--color-primary-dark);
  color: var(--color-primary);
}

.logo small {
  margin-left: 2rem;
  text-transform: lowercase;
}

.header-navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding: .25rem;
}

.header-stats {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem .75rem .5rem 0rem;
  pointer-events: none;
  text-align: right;
  font-size: .7rem;
  line-height: .9rem;
  text-transform: uppercase;
  z-index: -3;
  background: rgba(70,70,70,.3);
  color: var(--color-primary);
  clip-path: polygon(0 0,100% 0,100% 100%,2.00rem 100%,0 calc(100% - 2.00rem));
}

.header-stats:before {
  content: '';
  position: absolute;
  inset: 0; 
  background: rgba(70,70,70,.6);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    2.00rem 100%,
    0 calc(100% - 2.00rem),
    0 0,
    .2rem 0,
    .2rem calc(100% - 2.00rem - 0.08rem),
    calc(2.00rem + 0.08rem) calc(100% - .2rem),
    100% calc(100% - .2rem),
    100% 0,
    .2rem 0
  );
}

.header-stats__label {
  display: inline-block;
  width: 7rem;
  opacity: .5;
}

.header-stats__value {
  display: inline-block;
  width: 4.5rem;
}