.header__logo {
  position: relative;
  top: -.5rem;
  left: -1rem;
  display: inline-block;
  white-space: nowrap;
  z-index: 40;
}

.header__logo h1 {
  display: block;
  color: var(--color-text-inverted);
  margin: 0;
  text-align: right;
  text-shadow: 0 0 1rem rgba(0,0,0,.6);
  padding-top: .1rem;
  padding-bottom: .15rem;
  padding-left: 2.9rem;
  padding-right: .5rem;
  line-height: 2rem;
  font-weight: bold;
  font-style: italic;
  float: none;
  margin-right: 5rem;
}

.header__logo h1:after {
  margin-left: .5rem;
  height: 2.3rem;
  width: 1.5rem;
  aspect-ratio: none;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.header__logo h1::before,
.header__logo h1::after {
  background: var(--color-primary);
}

.header__logo h1 .icon {
  position: absolute;
  top: .25rem;
  left: .25rem;
  display: inline-block;
  font-size: 2.6rem;
}

.header__logo h1 .icon:after {
  position: absolute;
  top: -.9rem;
  left: -.15rem;
  display: block;
  content: '';
  background: var(--color-primary);
  border-radius: 0 0 1rem 0;
  border-radius: 5rem;
  width: 3.1rem;
  height: 3.1rem;
  z-index: -1;
}

.header__logo p {
  clear: both;
  position: relative;
  display: inline-block;
  padding: .25rem .25rem .25rem 2rem;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0 0 .5rem rgba(0,0,0,.8);
}

.header__logo p:after {
  position: absolute;
  display: inline-block;
  right: -.99rem;
  top: -.01rem;
  width: 1rem;
  height: 100%;
  content: '';
  clip-path: polygon(0 0, 0 100%, 100% 0);
  z-index: -2;
}

.header__logo p,
.header__logo p:after {
  background: var(--color-primary-darker);
  color: var(--color-primary);
}

.header__logo small {
  margin-left: 2rem;
  text-transform: lowercase;
}

.header__navigation {
  position: absolute;
  top: 0;
  right: .4em;
  padding: .6rem;
  z-index: 50;
}

.header__navigation a {
  border-bottom: none !important;
}

.header__navigation .button {
  margin-left: 0;
}

.header__navigation .button .icon {
  font-size: 1.5rem !important;
  line-height: 1.25rem !important;
  top: -.125rem;
  position: relative;
}

.header__search {
  display: inline-block;
  position: relative;
}

.header__search-input {
  position: relative;
  margin-right: .5rem;
  top: .1rem;
  display: inline-block;
}

.header__search-input input {
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: .25rem .25rem .25rem 1.75rem;
  background-color: transparent;
  border: .22rem solid var(--color-primary);
  border-radius: 2rem;
  font-family: 'Jura';
  font-weight: bold;
  width: 0rem;
  color: transparent;
  transition: .25s;
  transition-property: width, color, background-color;
  backdrop-filter: blur(1rem);
}

.header__search-input .icon {
  position: absolute;
  content: '123';
  display: block;
  height: 2rem;
  width: 2rem;
  left: .35rem;
  top: .6rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  z-index: 10000;
  color: var(--color-primary);
}

.header__search-input .icon:has(+ input:hover),
.header__search-input:focus-within .icon {
  color: var(--color-text-inverted);
}

.header__search-input:focus-within .icon {
  text-shadow: none;
}

.header__search-input input:hover,
.header__search-input input:focus  {
  color: var(--color-text-inverted);
  background-color: var(--color-primary-lightest);
  border-color: var(--color-primary-lightest);
  outline: none;
  box-shadow: 0 0 1rem black, 0 0 2rem black;
}

.header__search-input input:focus {
  width: 18rem;
  padding-left: 2rem;
}

.header__search-results {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  height: auto;
  overflow: hidden;
  /* overflow-y: auto; */
  width: 100vw;
  max-height: calc(100vh - 7rem);
  max-width: 18rem;
  border: .2rem solid var(--color-primary);
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(1rem);
  border-radius: .2rem;
  padding: .15rem;  
  /* text-align: right; */
  font-family: 'Jura';
  box-shadow: 0 0 1rem black;
  transition: opacity 200;
  opacity: 0;
}

.header__search:focus-within .header__search-results {
  display: block;
}

.header__search-results h5 {
  text-transform: uppercase;
  padding-bottom: .15rem;
  margin: 1rem 0 .25rem 0;
  margin-top: 1rem;
  border-bottom: .1rem solid var(--color-primary-dark);
  font-size: .8rem;
}

.header__search-results h5:first-of-type {
  margin-top: 0;
}

.header__search-results p {
  margin: 0;
  font-size: .9rem;
  line-height: 1.25rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  pointer-events: all;
  padding-top: .1rem;
  padding-bottom: .1rem;
}

.header__search-results p i {
  position: relative;
  top: -.05rem;
}

.header__search-result--highlighted {
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
}