.news-ticker {
  background: rgba(0, 0, 0, .9);
  position: absolute;
  overflow: hidden;
  height: 1.9rem;
  max-width: 100%;
  background: linear-gradient(to top, var(--color-primary-3), var(--color-primary-2));
  border-top: .25rem solid var(--color-layout-frame);
  padding-top: .2rem;
  padding-bottom: .4rem;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  bottom: .74rem;
  left: .5rem;
  right: .5rem;
}

.news-ticker__ticker {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 200s linear infinite;
}

.news-ticker__ticker-item {
  position: relative;
  font-size: 0.9rem;
  line-height: 1rem;
  display: inline-block;
  margin-right: 7rem;
  word-wrap: none;
  padding-right: 14rem;
  height: 2.2rem;
  padding-left: .2rem;
  text-transform: uppercase;
}

.news-ticker__ticker-item-price {
  position: absolute;
  top: 0;
  right: 6.6rem;
  width: 6rem;
  text-align: right;
  display: inline-block;
  height: 2.2rem;
}

.news-ticker__ticker-item-price-difference {
  position: absolute;
  top: -.1rem;
  right: -3rem;
  width: 9rem;
  text-align: left;
  display: inline-block;
  height: 2.2rem;
}

.news-ticker__ticker-item-price-difference small,
.news-ticker__ticker-item-price-difference .commodity__price {
  line-height: .9rem;
  font-weight: bold;
}

.news-ticker__clock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5.5rem;
  padding: 0 .5rem;
  background: var(--color-layout-frame);
  color: var(--color-layout-frame-text);
  text-align: center;
  z-index: 2;
  font-family: "Jura", sans-serif;
  font-weight: bold;
}

.news-ticker__clock-time {
  font-size: 1.2rem;
  text-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}
.news-ticker__clock-date {
  font-size: .9rem;
  text-transform: uppercase;
  opacity: .75;
  color: var(--color-layout-frame-text);
  text-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}