.news-ticker {
  background: rgba(0, 0, 0, .9);
  position: absolute;
  bottom: .25rem;
  left: 0;
  overflow: hidden;
  height: 2rem;
  max-width: 100%;
  background: rgba(100, 100, 100, .5);
  border-top: .2rem solid rgba(100,100,100,1);
  padding-top: .2rem;
  padding-bottom: .4rem;
  white-space: nowrap;
}

.news-ticker__ticker {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 200s linear infinite;
}

.news-ticker__ticker-item {
  position: relative;
  font-size: 0.9rem;
  line-height: 1rem;
  display: inline-block;
  margin-right: 7rem;
  word-wrap: none;
  padding-right: 14rem;
  height: 2.2rem;
  padding-left: .2rem;
  text-transform: uppercase;
}

.news-ticker__ticker-item-price {
  position: absolute;
  top: 0;
  right: 6.6rem;
  width: 6rem;
  text-align: right;
  display: inline-block;
  height: 2.2rem;
}

.news-ticker__ticker-item-price-difference {
  position: absolute;
  top: 0;
  right: -3rem;
  width: 9rem;
  text-align: left;
  display: inline-block;
  height: 2.2rem;
}

.news-ticker__ticker-item-price-difference small {
  line-height: .8rem;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}