.object-information {
  margin-bottom: .25rem;
  margin-top: .5rem;
}

.object-information label {
  width: 9rem;
  padding-right: 1rem;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  opacity: .8; 
  font-size: .9rem;
}

.object-information span {
  vertical-align: middle;
}

.object-information progress {
  margin-right: 1rem;
}