table.properties-table {
  border-spacing: 0;
  margin-bottom: 1rem;
  max-width: 40rem;
  clear: both;
}

table.properties-table > tbody > tr > th,
table.properties-table > tbody > tr > td {
  text-transform: uppercase;
  vertical-align: top;
  border-bottom: .15rem solid transparent;
}

table.properties-table > tbody > tr > th {
  font-family: "Jura", sans-serif;
  opacity: .8;
  text-align: right;
  padding: 0 1rem;
  width: 11rem;
  font-size: 1.05rem;
}

table.properties-table > tbody > tr > td {
  text-align: left;
}

table.properties-table > tbody > tr > td > small {
  font-size: .9rem;
}
