.system-map {
  height: 30rem;
  width: calc(100% - 2.6rem);
  display: block;
  padding: .5rem;
  overflow: hidden;
  position: relative;
  top: -.5rem;
  margin: .5rem;
  margin-bottom: 1rem;
  zoom: 0.5;
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Jura';
  background: linear-gradient(rgba(75, 75, 75, .6), rgba(0,0,0,.6));
  z-index: 1;
  border: .4rem solid var(--color-primary-darker);
}

.system-map:before {
  content: '';
  display: block;
  clip-path: polygon(0 0, calc(100% - 2.00rem) 0, 100% 2.00rem, 100% 100%, 2.00rem 100%, 0 calc(100% - 2.00rem));
  padding: .5rem;
  border-radius: .25rem;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .025;
  background-image: url(/images/grid.svg);
  background-image: linear-gradient(white .1rem, transparent .1rem), linear-gradient(90deg, white .1rem, transparent .1rem);
  background-size: 2rem 2rem;
  background-position: center;
}

.system-map__point {
  position: absolute;
  opacity: 0;
  animation: system-map__point-fade-in-animation .5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes system-map__point-fade-in-muted-animation {
  from { visibility: visible; opacity : 0; }
  to { visibility: visible; opacity: 0.2; }
}

@keyframes system-map__point-fade-in-animation {
  from { visibility: visible; opacity : 0; }
  to { visibility: visible; opacity: 0.8; }
}

.system-map__point:before {
  position: absolute;
  top: -.3rem;
  left: -.3rem;
  height: .6rem;
  width: .6rem;
  border-radius: 1rem;
  background: white;
  content: '';
}

.system-map__point:after {
  position: absolute;
  display: block;
  white-space: nowrap;
  content: attr(data-name);
  color: white;
  padding: .1rem .25rem;
  border-radius: .1rem;
}

.system-map__point:hover {
  opacity: 1 !important;
  z-index: 1;
  display: block;
  top: .25rem;
  left: .25rem;
}

.system-map__point:hover:after {
  border-radius: .1rem;
  background: var(--color-primary-darker);
  z-index: 2;
}

.system-map__point:hover:before {
  z-index: 3;
}

.system-map__point[data-name*="-"],
.system-map__point[data-name*="+"] {
  animation: system-map__point-fade-in-muted-animation .5s ease-in-out !important;
  opacity: .2;
}

.system-map__point[data-name*="-"]:before,
.system-map__point[data-name*="+"]:before {
  top: -.2rem;
  left: -.2rem;
  height: .4rem;
  width: .4rem;
}

.system-map__point[data-name*="-"]:after,
.system-map__point[data-name*="+"]:after {
  Xdisplay: none;
  opacity: 0;
}

.system-map__point[data-name*="-"]:hover:after,
.system-map__point[data-name*="+"]:hover:after {
  Xdisplay: block;
  opacity: 1;
}

.system-map__point--highlighted {
  opacity: 1 !important;
}

.system-map__point--highlighted:before {
  top: -.5rem !important;
  left: -.5rem !important;
  height: 1rem !important;
  width: 1rem !important;
  border-color: transparent;
  z-index: 3;
}

.system-map__point--highlighted:after,
.system-map__point--highlighted:hover:after {
  display: block !important;
  color: black !important;
  background: var(--color-primary);
  top: .2rem;
  left: .2rem;
  padding: .1rem .25rem;
  z-index: 2;
  border-radius: .1rem;
  opacity: 1 !important;
}

@media only screen and (min-width: 1280px) {
  .system-map {
    position: absolute;
    left: 38rem;
    top: 1rem;
    width: calc(100% - 40rem);
    margin: 0;
    height: 20rem;
    zoom: 1;
    font-size: .9rem;
    line-height: .9rem;
    clip-path: polygon(0 0, calc(100% - 1.00rem) 0, 100% 1.00rem, 100% 100%, 1.00rem 100%, 0 calc(100% - 1.00rem));
    border: none;
    border-radius: 0;
  }

  .system-map:after {
    position: absolute;
    z-index: 100;
    content: '';
    inset: 0;
    background: var(--color-primary-darker);
    clip-path: polygon(0 0, calc(100% - 1.00rem) 0, 100% 1.00rem, 100% 100%, 1.00rem 100%, 0 calc(100% - 1.00rem), 0 0, .25rem .25rem, .25rem calc(100% - 1.00rem - 0.10rem), calc(1.00rem + 0.10rem) calc(100% - .25rem), calc(100% - .25rem) calc(100% - .25rem), calc(100% - .25rem) calc(1.00rem + 0.10rem), calc(100% - 1.00rem - 0.10rem) .25rem, .25rem .25rem);
    pointer-events: none;
  }

}