.system-map {
  width: calc(100% - 2.6rem);
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -3rem;
  width: calc(100% + 3rem);
  height: calc(100vh - 8.5rem);
  min-height: 26rem;
  zoom: 1;
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Jura';
  mask-image: linear-gradient(to bottom,
      transparent,
      black 30%,
      black calc(100% - 10rem),
      transparent), linear-gradient(black, black);
  mask-size: 100% 100%, 1rem 100%;
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;
  margin: 0;
}

.system-map:before {
  content: '';
  display: block;
  clip-path: polygon(0 0, calc(100% - 2.00rem) 0, 100% 2.00rem, 100% 100%, 2.00rem 100%, 0 calc(100% - 2.00rem));
  padding: .5rem;
  border-radius: .25rem;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .075;
  background-image: linear-gradient(var(--color-primary) .1rem, transparent .1rem), linear-gradient(90deg, var(--color-primary) .1rem, transparent .1rem);
  Xbackground-image: url(/images/grid.svg);
  background-size: 3rem 3rem;
  background-position: center;
  pointer-events: all;
}

.system-map__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 10rem);
  min-height: 26rem;
  pointer-events: none;
  background: linear-gradient(to right, rgba(20,20,20,1), transparent 30%);
  z-index: 2;
}

.system-map__location {
  position: absolute;
  top: initial;
  bottom: 1rem;
  left: 0;
  margin: 0;
  width: auto;
}

.system-map__location > table {
  top: initial;
  margin: 0;
}

.system-map__location > table th {
  width: 5rem !important;
}

.system-map__station-info {
  position: absolute;
  top: 4.3rem;
  left: 0;
  padding: .25rem;
  width: auto;
  display: inline-block;
  overflow: auto;
  overflow-x: hidden;
  xbackground: linear-gradient(to bottom, rgba(40,40,40.8), rgba(20,20,20,.4) 99%);
  xbackground: rgba(20,20,20,.5);
  z-index: 3;
  pointer-events: none;
}

.system-map__station-info p {
  float: left;
  padding: 0;
  margin: 0;
  margin-bottom: .25rem;
  margin-right: 1rem;
  display: inline-block;
  font-size: 1rem;
  text-shadow: 0 0 .5rem black;
}

.system-map__station-info p:last-child {
  margin-bottom: 0;
}

.system-map__station-info .icon {
  position: relative;
  top: -.1rem;
  font-size: 1.25rem;
}

.system-map__system-summary {
  display: block;
  clear: both;
  float: left;
}
.system-map__system-summary p {
  font-size: 1rem;
  margin: 0;
  clear: both;
  text-shadow: 0 0 .5rem black;
}

.system-map__system-summary p small {
  font-size: .9rem;
  opacity: 1;
  color: var(--color-primary-dark);
  text-shadow: 0 0 .5rem black;
}

.system-map__info table .Collapsible {
  pointer-events: all;
}


.system-map__point {
  position: absolute;
  opacity: 0;
  animation: system-map__point-fade-in-animation .5s ease-in-out;
  animation-fill-mode: forwards;
  filter: blur(.025rem);
  transition: 200ms;
  width: 10rem;
}

@keyframes system-map__point-fade-in-muted-animation {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 0.4;
  }
}

@keyframes system-map__point-fade-in-animation {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 0.8;
  }
}

.system-map__point:before {
  position: absolute;
  top: -.3rem;
  left: -.3rem;
  height: .6rem;
  width: .6rem;
  border-radius: 1rem;
  background: var(--color-primary-lightest);
  content: '';
  box-shadow: 0 0 .1rem .1rem var(--color-primary-lighter), 0 0 1rem .1rem var(--color-primary-lighter), 0 0 .5rem .1rem var(--color-primary);
}

.system-map__point:after {
  position: absolute;
  display: inline-block;
  content: attr(data-name);
  color: var(--color-primary);
  padding: .1rem .4rem;
  text-shadow: 0 0 .5rem rgb(255, 255, 255), 0 0 .8rem rgb(255, 255, 255);
  max-width: 6rem;
  overflow-wrap: break-word;
  font-size: .8rem;
  line-height: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.4rem), calc(100% - 0.4rem) 100%, 0 100%);
  border-radius: .2rem;
}

.system-map__point:hover {
  opacity: 1 !important;
  z-index: 10;
  display: block;
  top: .25rem;
  left: .25rem;
  filter: blur(0);
}

.system-map__point:hover:after {
  background: var(--color-primary-darkest);
  color: var(--color-primary-lightest);
  z-index: 2;
  zoom: 1.1;
  pointer-events: all;
  transition: 200ms;
}

.system-map__point:hover:before {
  z-index: 3;
}

.system-map__point[data-name*="-"],
.system-map__point[data-name*="+"] {
  animation: system-map__point-fade-in-muted-animation .5s ease-in-out !important;
  opacity: .4;
}

.system-map__point[data-name*="-"]:before,
.system-map__point[data-name*="+"]:before {
  top: -.2rem;
  left: -.2rem;
  height: .4rem;
  width: .4rem;
}

.system-map__point[data-name*="-"]:after,
.system-map__point[data-name*="+"]:after {
  opacity: 0;
  pointer-events: none;
}

.system-map__point[data-name*="-"]:hover:after,
.system-map__point[data-name*="+"]:hover:after {
  opacity: 1;
}

.system-map__point--highlighted {
  opacity: 1 !important;
  filter: blur(0);
  z-index: 2;
}

.system-map__point--highlighted:before {
  top: -.5rem !important;
  left: -.5rem !important;
  height: 1rem !important;
  width: 1rem !important;
  border-color: transparent;
  z-index: 3;
  box-shadow: 0 0 .4rem .2rem var(--color-primary-lightest), 0 0 2rem .5rem var(--color-primary), 0 0 4rem .7rem var(--color-primary);
}

.system-map__point--highlighted:hover {}

.system-map__point--highlighted:after,
.system-map__point--highlighted:hover:after {
  top: .2rem;
  left: .2rem;
  z-index: 2;
  opacity: 1 !important;
  zoom: 1.2 !important;
  line-height: 1rem;
  font-weight: bold;
  color: var(--color-primary-darkest);
  background: var(--color-primary-lightest);
}


.system-map__info {
  position: absolute;
  margin-top: 1rem;
}

@media only screen and (min-width: 1024px) {
  .system-map__point--highlighted {
    filter: blur(0);
  }

  /* .system-map {
    position: absolute;
    top: 0;
    left: 25rem;
    right: 0;
    width: calc(100% - 25rem);
    height: calc(100% - 1rem);
    margin: 0;
    zoom: 1;
    background: transparent;
    mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, black 10%, transparent 50%);
    z-index: 1;
  } */
}