.system-map,
.system-map__system-info {
  height: calc(100dvh - 10.5rem);
  min-height: 22rem;
}

.system-map {
  width: calc(100% - 2.6rem);
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  zoom: 1;
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Jura';
  mask-image: linear-gradient(to bottom,
    transparent 0%,
    black 10rem,
    black 10rem,
    transparent 100%);
  mask-size: 100% 100%, 1rem 100%;
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;
  margin: 0;
  left: 0;
  background:  linear-gradient(to bottom, transparent, rgba(60, 50, 140, 1));
  filter: contrast(1.25);
}

.system-map:before {
  content: '';
  display: block;
  clip-path: polygon(0 0, calc(100% - 2.00rem) 0, 100% 2.00rem, 100% 100%, 2.00rem 100%, 0 calc(100% - 2.00rem));
  padding: .5rem;
  border-radius: .25rem;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .085;
  background-image: linear-gradient(var(--color-text-light) .1rem, transparent .1rem), linear-gradient(90deg, var(--color-text-light) .1rem, transparent .1rem);
  /* background-image: url(/images/grid.svg); */
  background-size: 3rem 3rem;
  background-position: center;
  pointer-events: all;
}

.system-map__info {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}

.system-map__info table .Collapsible {
  pointer-events: all;
}

.system-map__system-objects,
.system-map__location {
  display: block;
  clear: both;
  padding: 0 .25rem;
}

.system-map__location {
  position: relative;
  top: -.25rem;
  line-height: 1rem;
  z-index: 10000;
}

.system-map__system-objects {
  margin-top: .6rem;
  min-height: 1.8rem;
}

.system-map__system-info {
  position: relative;
  top: 0;
  left: 3.6rem;
  width: calc(100% - 3.6rem);
  overflow: auto;
  overflow-x: hidden;
  z-index: 3;
  pointer-events: none;
}

.system-map__system-info:before {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(to right, rgba(0,0,0,.5), transparent 40rem);
  z-index: -1;
}

.system-map__system-info p {
  float: left;
  padding: 0;
  margin: 0;
  margin-bottom: .25rem;
  margin-right: 1rem;
  display: inline-block;
  font-size: 1rem;
  text-shadow: 0 0 .5rem black;
}

.system-map__system-info p:last-child {
  margin-bottom: 0;
}

.system-map__system-info p > .icon {
  position: relative;
  top: -.1rem;
  font-size: 1.25rem;
  height: 1.5rem;
  display: inline-block;
}

.system-map__system-status {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 .25rem;
  font-size: 1rem;
}

.system-map__system-status small {
  font-size: .8rem;
}

.system-map__system-status .icon {
  position: relative;
  top: -.1rem;
}

.system-map__scanner,
.system-map__scanner--stopped {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 100rem;
  aspect-ratio: 1;
  animation: system-map__scanner-animation 2s ease-in-out infinite;
  background: radial-gradient(transparent 30%, var(--color-secondary) 70%);
  pointer-events: none;
}

.system-map__scanner--stopped {
  animation-iteration-count: 1;
}

@keyframes system-map__scanner-animation {
  from {
    visibility: visible;
    opacity: 1;
    width: 0vw;
  }

  to {
    visibility: visible;
    opacity: 0;
    width: 100vw;
  }
}

.system-map__point {
  position: absolute;
  opacity: 1;
  animation: system-map__point-fade-in-animation .5s ease-in-out;
  animation-fill-mode: forwards;
  filter: blur(.025rem);
  transition: 200ms;
  width: 10rem;
}

@keyframes system-map__point-fade-in-muted-animation {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 0.4;
  }
}

@keyframes system-map__point-fade-in-animation {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 0.8;
  }
}

.system-map__point:before {
  position: absolute;
  top: -.3rem;
  left: -.3rem;
  height: .6rem;
  width: .6rem;
  border-radius: 1rem;
  background: var(--color-text-light);
  content: '';
  box-shadow: 0 0 .1rem .1rem var(--color-text-light), 0 0 1rem .1rem var(--color-text-light), 0 0 .5rem .1rem var(--color-text-light);
}

.system-map__point:after {
  position: absolute;
  display: inline-block;
  content: attr(data-name);
  color: var(--color-text);
  padding: .1rem .4rem;
  max-width: 6rem;
  overflow-wrap: break-word;
  font-size: .8rem;
  line-height: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.4rem), calc(100% - 0.4rem) 100%, 0 100%);
  border-radius: .2rem;
  opacity: .5;
}

.system-map__point:hover {
  opacity: 1 !important;
  z-index: 10;
  display: block;
  top: .25rem;
  left: .25rem;
  filter: blur(0);
}

.system-map__point:hover:after {
  background: var(--color-primary-3);
  color: var(--color-text-light);
  z-index: 2;
  zoom: 1.1;
  pointer-events: all;
  transition: 200ms;
  opacity: 1;
}

.system-map__point:hover:before {
  z-index: 3;
}

.system-map__point[data-name*="-"],
.system-map__point[data-name*="+"] {
  animation: system-map__point-fade-in-muted-animation .5s ease-in-out !important;
  opacity: .4;
}

.system-map__point[data-name*="-"]:before,
.system-map__point[data-name*="+"]:before {
  top: -.2rem;
  left: -.2rem;
  height: .4rem;
  width: .4rem;
}

.system-map__point[data-name*="-"]:after,
.system-map__point[data-name*="+"]:after {
  opacity: 0;
  pointer-events: none;
}

.system-map__point[data-name*="-"]:hover:after,
.system-map__point[data-name*="+"]:hover:after {
  opacity: 1;
}

.system-map__point--highlighted {
  opacity: 1 !important;
  filter: blur(0);
  z-index: 2;
}

.system-map__point--highlighted:before {
  top: -.5rem !important;
  left: -.5rem !important;
  height: 1rem !important;
  width: 1rem !important;
  border-color: transparent;
  z-index: 3;
  box-shadow: 0 0 .4rem .2rem var(--color-text-light), 0 0 2rem .5rem var(--color-text-light), 0 0 4rem .7rem var(--color-text-light);
}

.system-map__point--highlighted:hover {}

.system-map__point--highlighted:after,
.system-map__point--highlighted:hover:after {
  top: .2rem;
  left: .2rem;
  z-index: 2;
  opacity: 1 !important;
  zoom: 1.2 !important;
  line-height: 1rem;
  font-weight: bold;
  color: var(--color-primary-2);
  background: var(--color-primary-5);
}

@media only screen and (min-width: 1024px) {
  .system-map__point--highlighted {
    filter: blur(0);
  }
}