.tab-panel__container {
  position: relative;
}

.tab-panel__container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.tab-panel__container::before {
  content: "";
  position: absolute;
  height: 5rem;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  clip-path: polygon(0 0,calc(100% - 2.00rem) 0,100% 2.00rem,100% 100%,0 100%);
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    30%,
    transparent
  );
}

.react-tabs__tab-list {
  margin: 0;
  padding: 0;
}

.react-tabs__tab-list:after {
  position: absolute;
  display: block;
  left: 0;
  width: calc(100% - .25rem);
  content: '';
  height: 2.19rem;
  background: var(--color-primary);
  z-index: 1;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  top: .05rem;
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0 .5rem;
  margin-bottom: 0;
  margin-right: .5rem;
  margin-left: 1rem;
  z-index: 1;
  background: var(--color-primary-dark);
  color: var(--color-text-inverted-muted);
  outline: none;
}

.react-tabs__tab::before {
  position: absolute;
  display: inline-block;
  left: -.98rem;
  width: 1rem;
  height: 100%;
  content: '';
  z-index: -1;
  background: var(--color-primary-dark);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.react-tabs__tab::after {
  position: absolute;
  display: inline-block;
  right: -.98rem;
  width: 1rem;
  height: 100%;
  content: '';
  z-index: -1;
  background: var(--color-primary-dark);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.react-tabs__tab:hover:not(.react-tabs__tab--selected) {
  filter: contrast(2);
  z-index: 2;
}

.react-tabs__tab.react-tabs__tab--selected,
.react-tabs__tab.react-tabs__tab--selected::before,
.react-tabs__tab.react-tabs__tab--selected::after {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  z-index: 3;
}

.tab-panel__header {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  padding: .25rem 1.5rem;
  margin: 0 0rem 1rem -1rem;
  clip-path: polygon(0 0,calc(100% - 2.00rem) 0,100% 2.00rem,100% 100%,0 100%);
}

.tab-panel__header p {
  margin: .25rem 0;
}

.react-tabs__tab-panel {
  position: relative;
  z-index: 2;
}

.tab-options {
  position: relative;
  z-index: 2;
  background: var(--color-primary);
  color: var(--color-text-inverted);
  padding: .5rem .5rem .25rem .5rem;
  font-family: "Jura", sans-serif;  
  font-weight: bold;
  font-size: 1rem;
  overflow: auto;
}

.tab-options form label {
  position: relative;
  display: inline-block;
  top: -.25rem;
  margin-top: 0.25rem;
  margin-right: 1.5rem;
}

.tab-options form input,
.tab-options form select {
  background: var(--color-primary-light);
  border-color: var(--color-primary-dark);
  color: var(--color-text-inverted);
  border-style: solid;
  border-width: .15rem;
  border-radius: 0.2rem;
  padding: .25rem;
  margin-left: .5rem;
  font-size: 1rem;
  font-family: "Jura", sans-serif;
}

.tab-options form input:hover,
.tab-options form select:hover {
  background: var(--color-primary-lighter);
  border-color: var(--color-primary-darker);
}

.tab-options form input:disabled,
.tab-options form select:disabled {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-darker);
  cursor:not-allowed;
}

.tab-options form input[type="checkbox"] {
  margin-left: 0;
  margin-right: .5rem;
}