.react-tabs__tab-list {
  position: relative;
  top: .01rem;
  margin: 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0 .5rem;
  margin-bottom: 0;
  margin-right: .5rem;
  margin-left: 1rem;
  z-index: 1;
  background: var(--color-primary-dark);
  color: var(--color-text-inverted-muted);
  outline: none;
}

.react-tabs__tab::before {
  position: absolute;
  display: inline-block;
  left: -.98rem;
  width: 1rem;
  height: 100%;
  content: '';
  z-index: -1;
  background: var(--color-primary-dark);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.react-tabs__tab::after {
  position: absolute;
  display: inline-block;
  right: -.98rem;
  width: 1rem;
  height: 100%;
  content: '';
  z-index: -1;
  background: var(--color-primary-dark);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.react-tabs__tab:hover:not(.react-tabs__tab--selected) {
  filter: contrast(2);
  z-index: 2;
}

.react-tabs__tab.react-tabs__tab--selected,
.react-tabs__tab.react-tabs__tab--selected::before,
.react-tabs__tab.react-tabs__tab--selected::after {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  z-index: 3;
}

.tab-panel__container {
  padding: 0 .5rem .5rem .5rem;
  position: relative;
}

.tab-panel__container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  xbackground: var(--color-primary);
  xclip-path: polygon(0 0,calc(100% - 2.00rem) 0,100% 2.00rem,100% 100%,0 100%,0 0,.2rem  .2rem ,.2rem calc(100% - .2rem),calc(100% - .2rem) calc(100% - .2rem),calc(100% - .2rem) calc(2.00rem + 0.08rem),calc(100% - 2.00rem - 0.08rem) .2rem,.2rem .2rem);
  background: rgba(255,255,255,.1);
  clip-path: polygon(0 0,calc(100% - 2.00rem) 0,100% 2.00rem,100% 100%,0 100%);
}

.tab-panel__header {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  padding: .25rem 1rem;
  margin: 0 0rem 1rem -1rem;
  clip-path: polygon(0 0,calc(100% - 2.00rem) 0,100% 2.00rem,100% 100%,0 100%);
}

.tab-panel__header p {
  margin: .25rem 0;
}