.data-table {
  z-index: 3;
}

.data-table th,
.data-table td {
  white-space: nowrap;
  overflow: hidden;
  padding: .5rem;
}

.data-table .rc-table-row-expand-icon-cell {
  width: 0;
  padding: 0;
}

.data-table table {
  border-spacing: 0;
  width: 100%;
}

.data-table th {
  color: #111;
  background: var(--color-primary);
  text-transform: uppercase;
  border-bottom: .25rem solid #111;
  font-family: "Jura", sans-serif;
}

.data-table td {
  background: #222;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table tr.rc-table-row td {
  margin-bottom: .5rem;
  border-bottom: .25rem solid #111;
}

.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])) td,
.data-table tr.rc-table-row:has(+ tr.rc-table-expanded-row:not([style="display: none;"])):hover td {
  background: var(--color-primary) !important;
  color: #111;
  border-bottom: none;
}

.data-table tr.rc-table-row + tr.rc-table-expanded-row > td {
  background: #333 linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
  border-bottom: .25rem solid #111;
  box-shadow: 0 0 2rem 2rem rgba(0,0,0,.25) inset;
  border-left: .2rem solid var(--color-primary);
  border-right: .2rem solid var(--color-primary);
  border-bottom: .2rem solid var(--color-primary);
  background: rgba(255,255,255,.1) !important;
}

.data-table th .icon,
.data-table td .icon {
  margin-right: .25rem;
  margin-left: -.25rem;
  float: left;
}

.data-table--mini {
  overflow: auto;
}

table.data-table--mini > tbody > tr > td,
.data-table--mini > .rc-table-container > .rc-table-content > table > tbody > tr > td {
  background: none;
  border: none !important;
  font-size: .9rem;
}

.data-table--mini > .rc-table-container > .rc-table-content > table > tbody > tr > td small {
  font-size: .8rem;
}

.data-table__label {
  display: block;
  opacity: .5;
}

table.data-table--striped > tbody > tr:nth-child(odd of .rc-table-row) > td,
.data-table--striped > .rc-table-container > .rc-table-content > table > tbody > tr:nth-child(odd of .rc-table-row) > td {
  background: rgba(255,255,255,.1);
}

table.data-table--interactive > tbody > tr.rc-table-row:hover > td,
table.data-table--striped.data-table--interactive > tbody > tr.rc-table-row:hover > td,
.data-table--interactive > .rc-table-container > .rc-table-content > table > tbody > tr.rc-table-row:hover > td,
.data-table--striped.data-table--interactive > .rc-table-container > .rc-table-content > table > tbody > tr.rc-table-row:hover > td {
  background: rgba(255,255,255,.15);
  transition: background .25s;
}

table.data-table--two-equal-columns > tbody > tr > td,
.data-table--two-equal-columns > .rc-table-container > .rc-table-content > table > tbody > tr > td {
  width: 50%;
}
