@media only screen and (min-width: 768px) {
  .data-table--striped-not-mobile tbody tr:nth-child(odd) td {
    background: rgba(255, 255, 255, .1) !important;
  }

  .is-visible-mobile {
    display: none !important;
  }

  html {
    font-size: max(min(1vw, 1.5rem), 1.25rem);
  }

  .layout__content--right {
    width: calc(100% - 16.25rem);
    left: 15.5rem;
    bottom: 0;
    padding-top: 1rem;
    top: 2.5rem;
  }

  .layout__content--left-sidebar {
    padding-top: 1rem;
    width: 15rem;
    top: 3rem;
    left: -.5rem;
    bottom: 0;
    border-right: .2rem solid var(--color-primary-darker);
    padding-left: .1rem;
    padding-right: .35rem;
  }

  .layout__content-wrapper {
    position: absolute;
    top: 5rem;
    bottom: 3.25rem;
    width: calc(100% - 1rem);
  }

  .layout__content-heading {
    position: relative;
    top: -0.2rem;
  }

  .home__news-about {
    float: right;
    width: 17rem;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: max(min(1vw, 1.75rem), 1.5rem);
  }
}