@media only screen and (min-width: 768px) {
  .data-table--striped-not-mobile tbody tr:nth-child(odd) td {
    background: rgba(255, 255, 255, .1) !important;
  }

  .is-visible-mobile {
    display: none !important;
  }

  html {
    font-size: max(min(1vw, 1.5rem), 1.25rem);
  }

  .layout__content--right {
    left: 15.25rem;
    bottom: 0;
    width: calc(100% - 16rem);
    padding-top: 1rem;
  }

  .layout__content--left-sidebar {
    left: -.5rem;
    bottom: 0;
    width: 15rem;
    padding-top: 1rem;
    padding-left: .1rem;
    padding-right: .35rem;
    overflow: scroll;
    background: linear-gradient(to left, var(--color-primary-2) -30%, var(--color-primary-0) 100%);
  }

  .layout__content-wrapper {
    position: absolute;
    top: 0rem;
    bottom: 3.25rem;
    width: calc(100% - 1rem);
  }

  .layout__content-heading {
    position: relative;
    top: -0.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .is-hidden-desktop {
    display: none !important;
  }

  .header__search-input--always-visible input {
    color: var(--color-text-light);
    background-color: var(--color-primary-1);
    outline: .175rem solid var(--color-primary-2);
  }
  
  .header__search-input--always-visible input:hover {
    outline: .175rem solid var(--color-primary-3);
  }
  
  .header__search-input--always-visible input:focus {
    outline: .175rem solid var(--color-primary-5);
  }
  
  .header__search-input--always-visible input {
    width: 18rem;
    padding-left: 2.25rem;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: max(min(1vw, 1.75rem), 1.5rem);
  }
}