
@media only screen and (max-width: 768px) {
  html {
    font-size: 1rem;
  }

  h2,
  h3,
  h4 {
    display: inline-block;
    text-overflow: ellipsis;
    left: 0;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-right: 1rem;
    width: auto;
    background: none;
    color: var(--color-primary);
  }

  h2.heading--with-icon {
    padding-left: 1.8rem;
  }
  
  h2.heading--with-icon .icon {
    font-size: 1.25rem !important;
  }

  .heading--with-underline {
    padding-bottom: .5rem;
    mask: linear-gradient(90deg, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    mask: none;
  }

  h3,
  .heading--table {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-right: 1rem;
    clip-path: polygon(0 0,calc(100% - .8rem) 0,100% 1.6rem,100% 100%,0 100%);
  }

  .heading--table {
    font-size: 1.5rem;
    line-height: 1.5rem;
    background: var(--color-primary);
    color: var(--color-text-inverted);
  }

  .header__logo h1,
  .header__logo p {
    padding-left: 1.5rem;
  }

  .header__logo h1 {
    width: 8rem;
    padding-left: 1rem;
    top: 0;
    font-size: 2rem !important;
    line-height: 2rem;
    height: 2rem;
  }
  
  .is-hidden-mobile {
    display: none !important;
    width: 0;
    padding: 0;
  }

  .max-width-mobile {
    width: 100%;
  }

  table.properties-table > tbody > tr > th,
  table.properties-table > tbody > tr > td {
    text-align: left;
    display: block;
    width: 100%;
  }

  table.properties-table > tbody > tr > td {
    padding-top: 0;
    padding-bottom: .25rem;
  }

  .react-tabs__tab {
    padding-left: .25rem;
    padding-right: .25rem;
  }
  
  .react-tabs__tab i,
  .react-tabs__tab .icon {
    font-size: 1.6rem !important;
    line-height: 2.2rem !important;
    top: 0 !important;
  }

  i.trade-bracket-icon {
    top: -.05rem;
    padding-right: .25rem;
    font-size: .8rem !important;
  }

  i.trade-bracket-icon.flip-horizontal {
    padding-right: 0;
    padding-left: .25rem;
  }

  .tab-options__label-text {
    display: inline-block;
    width: 5rem;
    padding-right: .25em;
  }

  .tab-options {
    padding: .25rem;
  }

  .tab-options form label span,
  .tab-options form input,
  .tab-options form select {
    float: none;
  }

  .tab-options form label span {
    margin-right: .25rem;
  }

  .tab-options form input {
    width: 9rem;
  }

  .tab-options form select {
    width: 10rem;
  }

  .tab-options form label {
    display: block;
    margin-right: 0;
  }

  .breadcrumbs {
    zoom: .9;
    margin-left: -.25rem;
  }

  .breadcrumbs li:not(:last-child) {
    display: none;
  }

  .header__search input {
    transition: 0s !important;
  }

  .header__search input:focus {
    width: auto;
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    right: 2rem;
    z-index: 10;
  }

  .header__search .icon {
    top: .5rem;
  }

  .header__search:focus-within .icon  {
    position: fixed;
    top: 2rem;
    left: 1.5rem;
    z-index: 11;
  }
}
