.dialog__background {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(.1rem);
  transition: 1.5s ease-in-out;
}

.dialog {
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: min(40rem, 80vw);
  max-height: min(20rem, 80vh);
  padding: 0.5rem;
  transition: opacity .5s ease-in-out;
}

.dialog:after {
  position: absolute;
  content: "";
  pointer-events: none;
  background: var(--color-primary);
  clip-path: polygon(0 0,100% 0,100% 100%,2.00rem 100%,0 calc(100% - 2.00rem),0 0,.2rem  .2rem ,.2rem calc(100% - 2.00rem - 0.08rem),calc(2.00rem + 0.08rem) calc(100% - .2rem),calc(100% - .2rem) calc(100% - .2rem),calc(100% - .2rem) .2rem,.2rem .2rem);
  inset: 0;
}

.dialog:before {
  position: absolute;
  content: "";
  top: -.2rem;
  bottom: -.2rem;
  left: -.2rem;
  right: -.2rem;
  pointer-events: none;
  background: black;  
  clip-path: polygon(0 0,100% 0,100% 100%,2.00rem 100%,0 calc(100% - 2.00rem));
  inset: 0;
}

.dialog__title {
  position: absolute;
  top: -2.8rem;
  left: 0;
  font-size: 1.6rem !important;
  line-height: 2rem !important;
}

.dialog__content {
  position: absolute;
  top: .4rem;
  left: .4rem;
  right: .4rem;
  bottom: 3.1rem;
  overflow: scroll;
  padding-right: .4rem;
  z-index: 1002;
}

.dialog__buttons {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0rem;
  height: 3.1rem;
  text-align: right;
  overflow: hidden;
  z-index: 1002;
  padding-bottom: .2rem;
  clip-path: polygon(0 0,100% 0,100% 100%,2.00rem 100%,0 calc(100% - 2.00rem));
}