@import url('progress.css');
@import url('button.css');
@import url('dialog.css');

html {
  font-family: sans-serif;
  background: white;
  color: var(--color-text);
  filter: contrast(1.3);
  overflow: hidden;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html p,
html li,
html span,
html small,
html big,
html button,
html th,
html td,
html label {
  font-family: 'Jura';
  font-weight: bold;
  text-shadow: 0 0 15px rgba(0,0,0,.8), 0 0 15px rgba(255,255,255,.8);
}

body,
p {
  font-size: 1rem;
}

a,
* {
  cursor: url('../../public/images/cursor.png'), default;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
  border-bottom: 1px dotted var(--color-text-muted);
}

a:hover:not(.--no-hover) {
  filter: contrast(1.5);
  border-bottom: 1px dotted var(--color-text-link);
}

h1,
h2,
h3,
h4{
  text-transform: uppercase;
  position: relative;
  color: var(--color-text-inverted);
  font-family: "Jura", sans-serif;
  padding-bottom: .1rem;
  padding-left: .25rem;
  padding-right: .5rem;
  z-index: 1;
  background: var(--color-primary);
  border-right: 0.01rem solid var(--color-primary);
  text-shadow: 0 0 .8rem rgba(0,0,0,.8);  
  display: inline-block;
}

h5 {
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  color: var(--color-primary-dark);
  font-size: 1rem;
  padding: 0;
  margin: .5rem 0;
}

h1:after {
  position: absolute;
  top: 0;
  display: inline-block;
  content: '';
  z-index: -1;
  background: var(--color-primary);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  height: calc(100%);
  aspect-ratio: 1 / 1.5;
  margin-left: .52rem;
}

h2 {
  line-height: 2.2rem;
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
  padding-right: 4rem;
  clip-path: polygon(0 0,calc(100% - 3.5rem) 0,100% 3.5rem,100% 100%,0 100%);
  position: relative;
  top: .25rem;
  margin: 0;
}

.heading--with-underline {
  position: relative;
  display: inline-block;
  border-bottom: .25rem solid var(--color-primary);
  margin: .5rem 0 1rem 0;
  width: 100%;
  max-width: 45rem;
  mask: linear-gradient(90deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 90%);
}

.heading--with-underline h2 {
  padding-bottom: 0;
}

h3,
.heading--table {
  font-size: 1.7rem;
  line-height: 2rem;
  padding-right: 2rem;
  clip-path: polygon(0 0,calc(100% - 2.1rem) 0,100% 2.1rem,100% 100%,0 100%);
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
  margin: 0;
}

h2.heading--with-icon {
  padding-left: 2.4rem;
}

h2.heading--with-icon .icon {
  position: absolute;
  top: .05rem;
  left: .1rem;
  font-size: 1.75rem !important;
}

table {
  width: 100%;
}

small {
  text-transform: uppercase;
  opacity: .6; 
  font-size: .8rem;
}

pre {
  font-size: .9rem;
}

ul {
  margin: .5rem 0;
  padding-left: 2rem;
  list-style-type: square;
}

ul li {
  text-transform: none;
}