@import url('progress.css');
@import url('button.css');

html {
  font-family: sans-serif;
  background: white;
  color: var(--color-text);
  filter: sepia(.2) contrast(1.2);
  overflow: hidden;
  user-select: none;
}

html p,
html li,
html span,
html small,
html big,
html button,
html th,
html td,
html label {
  text-shadow: 0 0 15px rgba(0,0,0,.8), 0 0 15px rgba(255,255,255,.8);
}

body,
p {
  font-size: 1rem;
}

a,
* {
  cursor: url('../../public/images/cursor.png'), default;
}

a {
  color: var(--color-text-link);
}

a:hover:not(.--no-hover) {
  filter: contrast(1.5);
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  position: relative;
  color: var(--color-text-inverted);
  font-family: "Jura", sans-serif;
  margin-top: .75rem;
  margin-bottom: .75rem;
  margin-right: .5rem;
  padding-bottom: .1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  z-index: 1;
  float: left;
  clear: both;
  background: var(--color-primary);
  border-right: 0.01rem solid var(--color-primary);
  text-shadow: 0 0 .8rem rgba(0,0,0,.8);  
}

h1:after,
h2:after,
h3:after,
h4:after {
  position: absolute;
  top: 0;
  display: inline-block;
  content: '';
  z-index: -1;
  background: var(--color-primary);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  height: calc(100%);
  aspect-ratio: 1 / 1.5;
  margin-left: .52rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.7rem;
}

h2 .icon {
  position: relative;
  top: .05rem;
  font-size: 1.5rem !important;
  padding-right: .05rem;
  float: left;
}

table {
  width: 100%;
}

small {
  text-transform: uppercase;
  opacity: .6; 
  font-size: .8rem;
}

pre {
  font-size: .9rem;
}

ul {
  margin: .5rem 0;
  padding-left: 2rem;
  list-style-type: square;
}

ul li {
  text-transform: none;
}