progress {
  --color-progress-background:rgba(0,0,0,.25);
  --color-progress-value: var(--color-primary);
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.25rem;
  border-width: .15rem;
  border-style: solid;
  border-radius: 0;
  border-color: var(--color-primary);
  background: var(--color-primary-darker);
  padding: .125rem;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

progress[value]::-webkit-progress-bar {
  background: var(--color-progress-background);
  border-radius: 0;
}

progress[value]::-moz-progress-bar {
  background: var(--color-progress-value);
  border-radius: 0;
}

progress[value]::-webkit-progress-value {
  background: var(--color-progress-value);
  transition: width .25s ease;
  border-radius: .1rem;;
  border-radius: 0;
}

progress.progress--borderless {
  border-style: none;
}